body{
    font-family: 'Roboto', sans-serif;
    background-color: #ec8db8;
}

/* navbar css starts here  */
.bg-light{
    background-color: #968aad!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #01070f!important;
}

.nav-link{
    color: #0c0f13!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f1e0e0;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(201, 211, 221)!important;
    color: rgb(134, 71, 71)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(130, 137, 199)!important;
}